body {
  background: url("assets/images/background.png");
  background-size: cover, contain;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.column {
  flex: 1;
  padding: 5px;
}
.right {
  text-align: right;
  margin-left: auto;
  align-self: flex-end;
}
.homemimg {
  position: fixed;
  right: 0;
  bottom: 0;
  height: auto;
  width: 30%;
}
