html {
  font: 400 80.5% "Inter", sans-serif;
}



body {
  background-image: url(assets/images/background.png);
  background-size: cover, contain;
  overflow-x: hidden;
  color: rgb(209, 209, 209);
}

h1 {
  font-size: 40px;
  margin-left: 150px;
  text-wrap: wrap;
  margin-top: 68px;
  margin-bottom: 190px;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-top: 0;
  font-size: 30px;
}

span {
  color: #ff9900;
}

.dna {
  color: #ff9900;
  margin-left: 0px;
}

/*.item {
  flex: 1 1 300px;
} */

.item {
  text-align: center;
  gap: 2rem;
  font-size: 22px;
  line-height: 1.5;
  margin: 10px;
  
}

.item img {
  max-width: 100%;
  height: auto;
}
