
html {
  font: 400 62.5% 'Inter', sans-serif;
  color: rgb(209, 209, 209);
}

body {
  background-image: url(assets/images/background.png);
  background-size: cover, contain;
  overflow-x: hidden;
}

h1 {
  font-size: 3.4rem;
}

p {
  margin-top: 0;
}

span {
  color: #ff9900;
}

.dna {
  text-align: left;
  color: #ff9900;
}

.container {
  padding-top: 10em;
  width: 127.6em;
  margin: auto;
}

.cardcontainer {
  display: flex;
  text-align: center;
  gap: 2rem;
  font-size: 1.8rem;
  line-height: 1.5;
}

.card {
  flex: 1;
}

img {
  display: flex;
  width: 100%;
}